body 
{ 
	font-family:  "Trebuchet MS", "Noto Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif; 
	font-weight: normal;
}

a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: black; }

.centeredList, .carousel, #downloads, .social { visibility: hidden; display:none; }

#mainContent { 
	float: left;
	width: 100%;
}

#footer {
	border-top: 0px;
}