html, body {
	height: 100%;
}

body {
	font-family:  "Noto Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 14px; 
}

a:visited, a:link {
	font-weight: bold;
	text-decoration: none;
	color: #49887b;
}

a:active, a:hover {
	color: #C4971A;
}

.center {
	text-align:center;
}

.clear {
  clear:both;
}

.centeredList {
	width:100%;
}

.selected-lang {
	border-bottom:1px dashed #000;
	font-weight: normal;
}

.inline-list {
	list-style:none;
	margin: 0;
	margin-top: 10px;
	padding:0;
	text-align:center;
}

.inline-list li {
	display:inline-block;
	list-style:none;
	margin:0;
	padding:7px;
}

.inline-list li a {
	font-weight: normal;
}

#footer {
	background-image: url(../images/footer_bg.png);
	height: 68px;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
}

#footer div p {
	display: table-cell;
	vertical-align: middle;
}

.alignedFooter {
    display:table;
    height: 100%;
}

#separator {
	margin-top: 25px;
	height: 22px;
	background-image: url(../images/separator.png);
	background-repeat: repeat-x;
}

#additionalInfoWrapper {
	background-image: url(../images/bg.png);
}

#headerRow {
	margin-top: 8px;
}

.langselect {
	text-align: left;
}

.social {
	text-align: right;
}

.social a {
	padding-left: 10px;
}

.icon { 
	display:block;
	width: 50px; 
	height:50px; 
	margin-right:14px; 
	float:left; 
}

.infoSection {
	padding-top:25px;
}

.infoHeader {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	margin-top: 15px;
	margin-left: 2px;
	max-width: 230px;
	max-height: 17px;
}

.infoContent {
	margin-top: 10px;
	font-size: 15px;
	line-height:20px;
}

.infoContent a {
	font-weight: bold;
}

.carousel {
	margin-top: 20px;
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}

.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}

.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}

#downloads { 
	font-weight: normal;
	font-size: 14px;
}

.arrow-down { 
	float:right; 
	margin-right: 4px;
	margin-top: 0px; 
}

.download-icon { 
	display:block; 
	width: 56px; 
	padding: 0px 4px 0px 4px; 
	height:56px; 
	margin-left:2px; 
	margin-right:2px; 
	margin-top: 4px; 
	float:left; 
	text-align:center;
}

.download {
	font-size: 13px;
	font-weight: normal;
	display: block;
	float: left;
	margin-right: 20px;
	width: 240px;
	margin-bottom: 10px;
	line-height: 18px;

	background-color: #353431;
	background-image: -webkit-linear-gradient(top, #53524d, #353431);
	background-image: -ms-linear-gradient(top, #53524d, #353431);
	background-image: -moz-linear-gradient(top, #53524d, #353431);
	background-image: -o-linear-gradient(top, #53524d, #353431);
	background-image: linear-gradient(top, #53524d, #353431); 
	border: 1px solid rgb(46,105,148);
	border-bottom: 1px solid rgb(46,105,148);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #85837c;
	-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
	-ms-box-shadow: inset 0 1px 0 0 #96ca6d;
	-o-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #85837c; 
	color: white;
}

.download-link {
	display: block;
	padding: 4px 0 4px 0;
	height: 72px;
	width: 240px;

}

.download-link:hover {
	font-weight: normal;
  background-color: #53524d;
	background-image: -webkit-linear-gradient(top, #5e5d58, #53524d);
  background-image: -moz-linear-gradient(top, #5e5d58, #53524d);
  background-image: -ms-linear-gradient(top, #5e5d58, #53524d);
  background-image: -o-linear-gradient(top, #5e5d58, #53524d);
  background-image: linear-gradient(top, #5e5d58, #53524d);
  -webkit-box-shadow: inset 0 1px 0 0 #85837c;
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
  -o-box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer; 
}

a.download-link {
	text-decoration: none;
	width: 100%;
	height: 63px;
	display: block;
	text-shadow: 0 0 0;
	color: white;
	font-size: 13px;
	font-weight: normal;
}

.download-line-link {
	display: block;
	padding: 0px 0 0px 0;
	/*height: 36px; */
	width: 240px;

}

.download-line-link:hover {
	font-weight: normal;
  background-color: #53524d;
	background-image: -webkit-linear-gradient(top, #5e5d58, #53524d);
  background-image: -moz-linear-gradient(top, #5e5d58, #53524d);
  background-image: -ms-linear-gradient(top, #5e5d58, #53524d);
  background-image: -o-linear-gradient(top, #5e5d58, #53524d);
  background-image: linear-gradient(top, #5e5d58, #53524d);
  -webkit-box-shadow: inset 0 1px 0 0 #85837c;
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
  -o-box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer; 
}

a.download-line-link {
	text-decoration: none;
	width: 100%;
	/*height: 63px; */
	display: block;
	text-shadow: 0 0 0;
	color: white;
	font-size: 13px;
	font-weight: normal;
}

.download-git-padding {
	padding-top: 4px;
	padding-bottom: 4px;
	height: 63px;
}

a.GPG {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 22px;
	padding: 0px 0px 0px 58px;
	border-top: 1px solid white;
	text-shadow: 0 0 0;
	color: white;
	font-size: 13px;
	font-weight: normal;
}

.GPG:hover {
    background-color: #53524d;
}

.GPG-text {
	background:url(../images/lock.png) no-repeat center left; 
	display: block;
	width: 140px;
	padding-left: 20px;
	margin-top: 2px;
}

.github > .GPG > .GPG-text {
	background:url(../images/info.png) no-repeat center left; 
}


@media screen and (orientation:portrait) {
    /* Portrait styles */
    .social-iphone {
    	display: inline;
    }  
    .show-iphone-portrait {
		display: none !important;
	}  
}

@media screen and (orientation:landscape) {
    /* Landscape styles */
    .social-iphone {
    	display: none;
    }

    .show-iphone-portrait {
		display: inline;
	}
}

.show-iphone-portrait {
	display: none;
	text-align: right;
}

.show-iphone-portrait div {
	display: inline-block;
	padding-left: 10px;
}

.social-iphone {
	padding-top: 10px;
	margin: auto 0;
	text-align: center;
}

.social-iphone div {
	display: inline-block;
	padding: 0px 10px;
}

#gplus-wrapper {
	position: absolute;
	margin-top: 10px;
	height: 0px;	
	right: 0px;
	background-color: white;
}

#litecoin-gplus {
	clear:both;
	position:relative;
	float:right;
	z-index:1000;
	width:302px;
	height:395px;
	border:1px solid #53524d;
	box-shadow: 4px 4px 4px #ccc;
}

.twitter-wrapper {
        padding-top: 30px;
}

#litecoin-com-ad {
  background: url(../images/litecoin-com-ad-800.png) no-repeat top center scroll;
  width: 800px;
  height: 99px;
  display: inline-block;
  margin-top: 16px;
  background-size: cover;
}

@media (min-width: 768px) {
  #litecoin-com-ad {
    background: url(../images/litecoin-com-ad-800.png) no-repeat top center scroll;
    width: 768px;
    height: 96px;
    display: inline-block;
  	margin-top: 16px;
	background-size: cover;
  }  
}

@media (min-width: 800px) {
  #litecoin-com-ad {
    background: url(../images/litecoin-com-ad-800.png) no-repeat top center scroll;
    width: 800px;
    height: 99px;
    display: inline-block;
  	margin-top: 16px;
	background-size: cover;
  }  
}

@media (max-width: 768px) {
  #litecoin-com-ad {
    background: url(../images/litecoin-com-ad-300.png) no-repeat top center scroll;
    width: 300px;
    height: 120px;
    display: inline-block;
  	margin-top: 32px;
  	background-size: cover;
  }  
}