<!-- Footer Section -->
<div id="footer">
	<div class="container alignedFooter">
	  <p><%= t 'footer.copyright' %>
	  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<a href="/about.html">About</a>
		&nbsp&nbsp
	  	<a href="/legal.html">Legal</a>
	  </p>
	</div>
</div>


