<!-- Header Content Container -->
<div class="container">
  <!-- Logo and Social Icons Row -->
  <div class="row" id="headerRow">
    <!-- Litecoin Logo -->
    <div class="col-xs-4">
      <img src="/images/litecoin-logo-192.png" alt="litecoin.org" title="litecoin.org" />
    </div>
  <div class="col-xs-4">
<!--   <div class="btn-group">
    <button type="button" class="btn btn-default">
     <a href="/news"> Latest news</a>
    </button>
    <button type="button" class="btn btn-default">
     <a href="/news">Tech Docs</a>
    </button>
   </div> -->
  </div>
                      
                      

    <!-- Language Selection -->


    <div class="col-xs-1 langselect">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <%= t 'lang_name' %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
        <%= language_codes %>
        </ul>
      </div>
    </div>
    <!-- Social Section -->
    <div class="col-xs-3 hidden-xs social">
      <!-- Icons -->
    <a id="gplus-image" href="https://plus.google.com/104307324656397909502/posts">
      <img class="pulse" src="/images/google-40px.png" onmouseover="this.src='/images/google-over-40px.png'" onmouseout="this.src='/images/google-40px.png'" title="Google Plus" height="40" width="40" alt="Google Plus" />
    </a>
    <a href="https://litecointalk.org" data-toggle="tooltip" data-animation="false" data-placement="bottom" id="forumSocial" title="LitecoinTalk Forum">
      <img class="pulse hint" src="/images/forum-40px.png" onmouseover="this.src='/images/forum-over-40px.png'" onmouseout="this.src='/images/forum-40px.png'" height="40" width="40" alt="Forum Thread" data-original-title="LitecoinTalk Forum" />
    </a>
    <!-- Google Plus Hover Box -->
    <div id='gplus-wrapper'>
      <div id='litecoin-gplus' style='display:none; visibility:hidden; opacity:0;'>
        <div class="g-page litecoin-gplus" data-href="https://plus.google.com/104307324656397909502" data-rel="publisher"></div>
      </div>
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    </div>
  </div>  <!-- Closing div tag for Social Section -->

  <!-- Social Media iPhone - Only shown for iPhone landscape view -->
      <div class="col-xs-6 visible-xs show-iphone-portrait">
      <div>
        <a href="https://plus.google.com/app/basic/+LitecoinOrg?source=appredir">
      <img src="/images/google-40px.png" title="Google Plus" height="40" width="40" alt="Google Plus" />
        </a>
      </div>
        <div>
          <a href="https://litecointalk.org">
          <img src="/images/forum-40px.png" title="Google Plus" height="40" width="40" alt="Google Plus" />
        </a>
      </div>
    </div>
  </div> <!-- Closing div tag for Logo and Social Row -->
  <!-- Social Media Row for iPhone - Only shown for iPhone landscape view -->
  <div class="row visible-xs">
    <div class="col-xs-12 social-iphone">
      <div>
      <a href="https://plus.google.com/app/basic/+LitecoinOrg?source=appredir">
      <img src="/images/google-40px.png" title="Google Plus" height="40" width="40" alt="Google Plus" />
    </a>
      </div>
        <div>
          <a href="https://litecointalk.org">
          <img src="/images/forum-40px.png" title="Google Plus" height="40" width="40" alt="Google Plus" />
        </a>
      </div>
    </div>
  </div> <!-- Closing div tag for Social Media Row for iPhone --> 
</div> <!-- Closing div for Header Content Container -->

<center><a href="https://litecoin.com" target="_blank"><img src="/images/litecoin-com-ad.png" style="width:800px;margin-top:16px;"></a></center>