<!doctype html>
<html>
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  <title><%= t 'head.title' %></title>
	  <meta name="description" content="Litecoin is a cryptocurrency that enables instant payments to anyone in the world and that can be efficiently mined with consumer-grade hardware." />
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=latin,cyrillic-ext,cyrillic,latin-ext" rel="stylesheet" type="text/css"/>
	  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	  <link href="/stylesheets/style.css" rel="stylesheet">
	  <link href="/stylesheets/print.css" rel="stylesheet" media="print" />
	  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
	  <link rel="icon" sizes="16x16 32x32 48x48" href="/images/favicon/favicon.ico">
	  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
	  <link rel="icon" type="image/png" sizes="48x48" href="/images/favicon/favicon-48x48.png">
	  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	  <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">
	  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-touch-icon-57x57.png">
	  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-touch-icon-60x60.png">
	  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png">
	  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png">
	  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png">
	  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png">
	  <link rel="apple-touch-icon-precomposed" href="/images/favicon/apple-touch-icon-precomposed.png">
	  <meta name="msapplication-TileColor" content="#FFFFFF">
	  <meta name="msapplication-TileImage" content="/images/favicon/favicon.ico">
	  <meta name="msapplication-config" content="/browserconfig.xml">

	</head>

	<body>

		<%= partial 'layouts/header' %>
		<%= yield %>
		<%= partial 'layouts/footer' %>
		<!-- JavaScript -->
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/custom.js"></script>
		<script src="/javascripts/jquery.mousewheel-3.0.4.pack.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-40424732-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
